<!-- templates/dashboard.html -->
{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 
{% block content %}

<div class="container-fluid">
  <h1 class="text-center text-primary my-4">Dashboard</h1>

  <!-- Pestañas de navegación -->
  <!-- Pestañas de navegación -->
  <ul class="nav nav-tabs" id="dashboardTabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="gastos-tab" data-toggle="tab" href="#gastos" role="tab" aria-controls="gastos" aria-selected="true">Gastos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pagos-tab" data-toggle="tab" href="#pagos" role="tab" aria-controls="pagos" aria-selected="false">Pagos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="cuentas-tab" data-toggle="tab" href="#cuentas" role="tab" aria-controls="cuentas" aria-selected="false">Cuentas</a>
    </li>
  </ul>

  <!-- Contenido de las pestañas -->
  <div class="tab-content" id="dashboardTabsContent">
    <!-- Pestaña Gastos -->
    <div class="tab-pane fade show active" id="gastos" role="tabpanel" aria-labelledby="gastos-tab">
      <div class="row">
        <div class="col-md-6">
          <div id="gastos-grafico-1"></div>
        </div>
        <div class="col-md-6">
          <div id="gastos-grafico-2"></div>
        </div>
      </div>
    </div>

    <!-- Pestaña Pagos -->
    <div class="tab-pane fade" id="pagos" role="tabpanel" aria-labelledby="pagos-tab">
      <div class="row">
        <div class="col-md-6">
          <div id="pagos-grafico-1"></div>
        </div>
        <div class="col-md-6">
          <div id="pagos-grafico-2"></div>
        </div>
      </div>
    </div>

    <!-- Pestaña Cuentas -->
    <div class="tab-pane fade" id="cuentas" role="tabpanel" aria-labelledby="cuentas-tab">
      <div class="row">
        <div class="col-md-6">
          <div id="cuentas-grafico-1"></div>
        </div>
        <div class="col-md-6">
          <div id="cuentas-grafico-2"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</div>

<script src="{{ url_for('static', filename='dashboard-charts.js') }}"></script>
{% endblock %}
