<!-- templates/dashboard.html -->
{% extends "base.html" %} 
{% block title %}Dashboard{% endblock %} 
{% block content %}

<div class="container">
  <h1 class="text-center text-primary my-4">Dashboard</h1>

  <!-- Primer fila de gráficos -->
  <div class="row my-4">
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="cuentas-grafico-1"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="gastos-grafico-1"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Segunda fila de gráficos -->
  <div class="row my-4">
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="cuentas-grafico-2"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="gastos-grafico-2"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Tercera fila de gráficos -->
  <div class="row my-4">
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="pagos-grafico-1"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="pagos-grafico-2"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Cuarta fila de gráficos -->
  <div class="row my-4">
    <div class="col-lg-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <div id="pagos-grafico-3"></div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</div>

<script src="{{ url_for('static', filename='dashboard-charts.js') }}"></script>
{% endblock %}
