<!-- detalle_cuenta.html -->
{% extends "base.html" %} 
{% block title %}Detalle de Cuenta{% endblock %} 
{% block content %}
<div class="my-4">
  <h1>
    Detalle de Cuenta: {{ cuenta.nombre_banco }} - {{ cuenta.numero_cuenta }}
  </h1>
  <p class="lead">Saldo: ${{ cuenta.saldo }}</p>
  <h2 class="mt-4">Cargos a esta Cuenta</h2>
  <ul class="list-group">
    {% for pago in pagos %}
    <li class="list-group-item">
      <strong>Pago de ${{ pago.monto }}</strong> - Fecha: {{ pago.fecha.strftime('%Y-%m-%d %H:%M:%S') }} - Estado: {{ pago.estado }}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
