<!-- efectuar_pago.html -->
{% extends "base.html" %} {% block title %}Efectuar Pago{% endblock %} {% block
content %} {% include "navbar.html" %}
<div class="container my-4">
  <h1>Efectuar Pago</h1>
  <p class="lead">Pago de ${{ pago.monto }}</p>
  <form action="/pago/procesar/{{ pago.id }}" method="post" class="my-3">
    <div class="form-group">
      <label for="cuenta_id">Selecciona Cuenta Bancaria:</label>
      <select name="cuenta_id" id="cuenta_id" class="form-control">
        {% for cuenta in cuentas %}
        <option value="{{ cuenta.id }}">
          {{ cuenta.nombre_banco }} - {{ cuenta.numero_cuenta }} - Saldo: ${{
          cuenta.saldo }}
        </option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Efectuar Pago</button>
  </form>
</div>
{% endblock %}
