<!-- templates/gastos.html -->
{% extends "base.html" %}
{% block title %}Gastos{% endblock %}
{% block content %}
<div class="container my-5">
  <h1 class="text-center text-primary mb-4">Registrar Gasto</h1>
  <div class="card mb-5">
    <div class="card-body">
      <form action="/gasto/nuevo" method="post" class="my-3">
        <div class="form-group">
          <label for="descripcion">Descripción:</label>
          <input type="text" class="form-control" name="descripcion" id="descripcion" />
        </div>
        <div class="form-group">
          <label for="monto">Monto:</label>
          <input type="number" class="form-control" name="monto" id="monto" step="any" />
        </div>
        <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar Gasto</button>
      </form>
    </div>
  </div>

  <h2 class="text-center text-primary">Gastos Registrados</h2>
  <ul class="list-group">
    {% for gasto in gastos %}
    <li class="list-group-item d-flex justify-content-between align-items-center shadow">
      <div>
        <h5 class="mb-1">{{ gasto.descripcion }}: ${{ gasto.monto }}</h5>
        <small>
          Estado:
          <span
            class="badge {{ 'badge-success' if gasto.estado == 'aprobado' else 'badge-warning' if gasto.estado == 'pendiente' else 'badge-danger' if gasto.estado == 'cancelado' else 'badge-secondary' }}">
            {{ gasto.estado | capitalize }}
          </span>
        </small>
      </div>
      <div>
        {% if gasto.estado == 'pendiente' %}
        <a href="/gasto/aprobar/{{ gasto.id }}" class="btn btn-success btn-sm">Aprobar</a>
        <a href="/gasto/cancelar/{{ gasto.id }}" class="btn btn-danger btn-sm">Cancelar</a>
        {% elif gasto.estado == 'aprobado' and not gasto.pago_generado %}
        <a href="/pago/generar/{{ gasto.id }}" class="btn btn-warning btn-sm">Generar Pago</a>
        {% endif %}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
