<!-- templates/index.html -->
{% extends "base.html" %} 
{% block title %}Inicio{% endblock %} 
{% block content %}

<div class="jumbotron bg-light border">
  <h1 class="display-4">Bienvenido a GastosApp</h1>
  <p class="lead">
    GastosApp es una aplicación de gestión de gastos y pagos para empresas.
  </p>
  <hr class="my-4" />
  <p>
    Explora las funcionalidades y gestiona las finanzas de tu empresa de manera eficiente.
  </p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Saber más</a>
</div>

<div class="row">
  {% for seccion in ['gastos', 'pagos', 'cuentas'] %}
  <div class="col-md-4 mb-4">
    <div class="card h-100 shadow">
      <img src="{{ url_for('static', filename=seccion + '.jpg') }}" class="card-img-top" alt="Imagen de {{ seccion | capitalize }}">
      <div class="card-body d-flex flex-column">
        <h5 class="card-title">{{ seccion | capitalize }}</h5>
        <p class="card-text">Aquí una breve descripción de {{ seccion | capitalize }}.</p>
        <a href="/{{ seccion }}" class="btn btn-primary mt-auto">Ver {{ seccion | capitalize }}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
